.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}*/

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #008CBA;
}

.cluster_NOFACE  {
  background-color: #555;
  color: white;
  height: 20px;
  width: 300px;
  display:inline-block;
}

.cluster {
  background-color: rgb(121, 185, 193);
  color: white;
  height: 20px;
  width: 300px;
  display:inline-block;
}

.three {
  background-color: rgb(121, 185, 193);
  color: white;
  height: 0px;
  width: 300px;
  display:inline-block;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.tab-list {  border-bottom: 2px solid #008CBA;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #008CBA;
  border-width: 2px 2px 0 2px;
}

.floated_img_NOFACE
{
    float: left;
    border: solid #555;
    border-width: 6px 5px 60px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 300px; 
}

.floated_img
{
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 300px; 
}

.floated_img_three
{
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 300px; 
}

.blue {
  border:solid rgb(121, 185, 193);
  border-width: 6px 5px 60px 5px;
}
.red {
  border: solid rgb(210, 40, 40);
  border-width: 6px 5px 60px 5px;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 106%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #008CBA;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

.scrollable {
  height: 500px; /* or any value */
  overflow-y: auto;
}

img.resize {
  width:200px;
  height:40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}